@font-face {
    font-family: 'GenLight';
    src: url('../font/GenInterfaceJP-Light.woff') format('woff');
}

@font-face {
    font-family: 'GenMid';
    src: url('../font/GenInterfaceJP-Medium.woff') format('woff');
}

@font-face {
    font-family: 'GenBold';
    src: url('../font/GenInterfaceJP-Bold.woff') format('woff');
}

:root {
    --bg-color-01: #0a00ff;
    --bg-color-02: #403aff;
    --bg-size: 40em 40em;
}

html {
  overscroll-behavior: none;
}



.uncopyable {
  -webkit-user-select: none; /* Safari用 */
  -moz-user-select: none;    /* Firefox用 */
  -ms-user-select: none;     /* IE/Edge用 */
  user-select: none;         /* 標準 */
}

.fundou--pattern {
    background-color: var(--bg-color-01);
    background-image: 
        radial-gradient(100% 100% at 100% 0%, var(--bg-color-01) 50%, transparent 50%),
        radial-gradient(100% 100% at 0% 100%, var(--bg-color-01) 50%, transparent 50%),
        radial-gradient(100% 100% at 50% 50%, var(--bg-color-02) 50%, transparent 50%);
    background-repeat: repeat;
    background-size: var(--bg-size);
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.scrollSubtext{
    position: fixed;
    font-family: "futura-100", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff29;
    font-size: 35vh;
    overflow: hidden;
    display: flex;
    white-space: nowrap;
}

.sTop{
    top: 0;
}

.sBottom{
    bottom: 0;
}

.sBottom .scrollGroup {
    display: flex;
    animation: loop-animationLR 90s linear infinite;
}

.sTop .scrollGroup {
    display: flex;
    animation: loop-animationRL 90s linear infinite;
}

.scrollGroup span {
    padding-right: 2rem; 
}

@keyframes loop-animationLR {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes loop-animationRL {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.background {
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 120%;
    height: 120%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #0a00ff;
    color: #111111;
    overflow-x: hidden;
}

.otherContent {
    display: block;
}

.pcContent {
    display: none; 
}

@media screen and (min-width: 1024px) {
    .otherContent {
        display: flex;
        width: 100%;
        max-width: 1100px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10%;
        margin-right: auto;
    }
    
    .pcContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        height: 100vh;
        color: #ffffff;
        position: sticky;
        top: 0;
        z-index: 10;
        padding: 40px;
    }
}

.category {
    text-align: left;
    font-family: "GenMid";
}

.container {
    width: 95%;        
    max-width: 670px;     
    min-height: 100vh;  
    padding: 15px;  
    margin: 40px auto; 
    border-radius: 24px; 
}

@media screen and (min-width: 1024px) {
    .container {
        width: 55%;
        max-width: 610px;
        padding: 20px;
        margin-top: 100px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 32px;
    }
}

.content {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    position: relative; 
    margin-bottom: 60px;
}

.content:first-child {
    border-radius: 50px 50px 0px 0px;
}

.content:not(:first-child)::before {
    content: "";
    display: block;
    width: 100%;
    height: 50px; 
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: -49.7px;
    clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
}

.content::after {
    content: "";
    display: block;
    width: 100%;
    height: 50px; 
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -49.7px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.title {
    padding-top: 150px;
    padding-bottom: 120px;
}

.title img {
    width: 65%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title .subtitle {
    font-size: 1.2rem;
    font-family: "GenMid";
}

.title .url {
    font-size: 1.5rem;
    color: #2d2d2d;
    margin-bottom: 40px;
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.secTitle {
    font-size: 2.0rem;
    font-family: "GenMid";
    padding-top: 60px;
    color: #0a00ff;
}

.secSubtitle {
    font-size: 1.0rem;
    font-family: "GenMid";
    color: #0800ff7a;
}

.subtext {
    background-color: #0700d8;
    position: fixed;
    color: #ffffff;
    font-family: "GenLight";
    top: 50%;
    letter-spacing: 0.1em;
    overflow: hidden;
    display: none; 
}

.subtextScroll{
    font-size: 5.0rem;
    position: fixed;
    color: #ffffff;
    font-family: "GenBold";
    letter-spacing: -0.05em;
    overflow: hidden;
    left: 7%;

}

.wrapper{
    overflow: hidden;
    position: relative;
    width: 340px;
    border: 1px solid #ddd;
    margin-inline: auto;
}
.loop {
    animation: loop 10s linear infinite;
    width: 100%;
}
.loop2{
    position: absolute;
    top: 0; left: 0;
    animation: loop 10s -5s linear infinite;
}

@keyframes loop {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media screen and (min-width: 1024px) {
    .subtext {
        display: block;
    }
}

.left {
    left: 2.5%;
    transform: rotate(-90deg);
    transform-origin: left center;
    text-align: center;
}

.right {
    right: 2.5%;
    transform: rotate(90deg);
    transform-origin: right center;
    text-align: center;
}

.top {
    display: block;
    position: absolute; 
    right: 2.5%;
    top: 2.5%;
    transform: rotate(0deg);
    text-align: right;
    z-index: 1000;

}

.structure img{
    position: fixed;
    width: auto;
    height: 75%;
    right: 0;
    bottom: 0;
    opacity: 1;
}

.top h1 {
    font-size: 1.4rem;
    letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
    .top {
        position: fixed;
    }
    .top h1 {
        font-size: 1.7rem;
    }
}

.aboutMe {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.profile h1 {
    font-size: 2.2rem;
    font-family: "GenBold";
    color: #000000;
    text-align: left;
    margin-bottom: 20px;
}

.hide{
    display: none;
}

.modalOverlay {
    position: fixed;
    width: 50%;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    overflow-wrap: normal;
    top: 5%;
    left: 25%;
    z-index: 9999;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 15px;  
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modalOverlay::-webkit-scrollbar {
    display: none;
}


.modalMain {
    margin: 0 auto;
    width: 90%;
    height: auto;
    
}

.modalMain p{
    text-align: left;
    font-family: "GenLight";
    font-size: 1.2rem;
    line-height: 1.6; 
}

.modalOverlay img{
    width: 90%;
    height: auto;
    border-radius: 15px;
    margin-top: 50px;
}

.modalOverlay .modalTitle h1 {
    font-family: "GenBold";
    font-size: 2.5rem;
}

.modalOverlay .modalTitle p{
    font-size: 1.1rem;
    font-family: "GenMid";
    color: #000000;
}

.modalTitle {
    margin-top: 40px;
    margin-bottom: 30px;
}

.modalTags {
    text-align: center;
    margin-bottom: 20px;
}

.modalTags span {
    display: inline-block;
    font-family: "GenMid";
    background-color: #e0e0e0;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 5px 12px;
    border-radius: 9999px;
    transition: 0.25s;
}

@media screen and (min-width: 768px) {
    .profile h1 {
        font-size: 2.75rem;
    }
}

.profile h1:not(:first-child) {
    margin-top: 40px;
}

.profile h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-family: "GenBold";
}

@media screen and (min-width: 768px) {
    .profile h2 {
        font-size: 1.75rem;
    }
}

.profile p {
    font-size: 1.1rem;
    font-family: "GenMid";
    color: #000000;
    text-align: left;
    line-height: 1.6;
}

@media screen and (min-width: 768px) {
    .profile p {
        font-size: 1.25rem;
    }
}

.contentTitle {
    margin-top: 30px;
    margin-bottom: 60px;
}

.sectionLabel {
    font-size: 1.0rem;
    font-family: "GenLight";
    letter-spacing: 0.3rem;
}

.product {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 50px;
    padding-top: 30px;
    border-radius: 50%;
    transition: 0.25s;
}

.product:hover{
    background-color: #0a00ff;
    border-radius: 25px;
}

.product:hover h1{
    color:#ffffff
}

.product:hover p{
    color:#ffffff
}

.product:hover .tags span{
    background-color: #ffffff;
    color: #0a00ff;
}

.product h1 {
    font-size: 1.5rem;
    text-align: center;
    font-family: "GenBold";
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.25s;
}

.product p {
    text-align: center;
    font-family: "GenLight";
    transition: 0.25s;
}

.product img {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

.tags {
    text-align: left;
    margin-bottom: 20px;
}

.tags span {
    display: inline-block;
    font-family: "GenMid";
    background-color: #e0e0e0;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 5px 12px;
    border-radius: 9999px;
    transition: 0.25s;
}

.tags:first-child{
    margin-left: 10px;
}

.commission {
    margin: 0 auto;
    width: 90%;
}

.commission h1 {
    font-family: "GenMid";
    margin-bottom: 40px;
}

.commission p{
    font-family: "GenLight";
    margin-bottom: 20px;
}

.commission p:last-child{
    margin-bottom: 60px;
}

@media screen and (min-width: 2560px) {
    body {
        zoom: 1.5;
    }
    .subtext {
        font-size: 1.2rem;
    }
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

td .price{
    text-align: left;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.commission table{
    margin-bottom: 20px;
    font-family: "GenMid";
}